{% extends "Procurement/base.html" %}
{% block title %}Construction Detail{% endblock %}
{% block content %}
    <div class="top_creatio3">
        <p>Inverter ID: {{ construction.id }}</p>
        <p>Inverter Name: {{ construction.product_name }}</p>
        <p>Price: {{ construction.price }}</p>
    </div>
    <form method="post">
        {% for field in form %}
        <div style="padding: 5px">
            <a class="label">{{ field.label_tag }}</a>
            {{ field }}
        </div>
        {% endfor %}
            {% csrf_token %}
        <input type="submit" value="Adicionar" class="part_creation2">
    </form>
</table>
{% endblock %}
