{% extends "Procurement/base.html" %}
{% block title %}Other Detail{% endblock %}
{% block content %}
    <div class="top_creatio3">
        <p>Other ID: {{ others.id }}</p>
        <p>Other Name: {{ others.product_name }}</p>
        <p>Inventory: {{ others.inventory }}</p>
    </div>
    <form method="post">
        {% for field in form %}
        <div style="padding: 5px">
            <a class="label">{{ field.label_tag }}</a>
            {{ field }}
        </div>
        {% endfor %}
            {% csrf_token %}
        <input type="submit" value="Adicionar" class="part_creation2">
    </form>
</table>
{% endblock %}
