{% extends "Procurement/base.html" %}
{% block title %}{{ name_save }}{% endblock %}
{% block content %}
        <div class="container">
    <div id="information_form">
        <form method="post">
        {% for field in form %}
        <div class="row">
                <div class="col-25">
            <label class="label">{{ field.label_tag }}</label>
                            </div>
                <div class="col-75">
            {{ field }}
                            </div>
            </div>
        {% endfor %}
            {% csrf_token %}
        <input type="submit" value="{{ name_save }}" class="part_creation3">
    </form>
        </div>
    </div>
{% endblock %}
